.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/.cache
/build
/public/build
.output

# Database
database/db.sqlite3
database/db.sqlite3-shm
database/db.sqlite3-pos
database/db.sqlite3-wal
