.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/.cache
/build
/public/build
.output

# Database
src/database/db.sqlite3
src/database/db.sqlite3-shm
src/database/db.sqlite3-pos
src/database/db.sqlite3-wal
